<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <ng-view></ng-view>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

    <!-- Template -->
    <script type="text/ng-template" id="/todos.html">
      Search: <input type="text" ng-model="search.name">
      <ul>
        <li ng-repeat="facture in factures | filter: search">
          <input type="checkbox" ng-model="facture.termine" ng-change="update($index)">
          <a ng-show="!editing[$index]" href="#/{{facture._id}}">{{facture.code + ' ' + facture.montantTTC}}</a>
          <button ng-show="!editing[$index]" ng-click="edit($index)">edit</button>

          <input ng-show="editing[$index]" type="text" ng-model="facture.name">
          <button ng-show="editing[$index]" ng-click="update($index)">Update</button>
          <button ng-show="editing[$index]" ng-click="cancel($index)">Cancel</button>
          <button ng-show="!editing[$index]" ng-click="remove($index)">remove</button>
        </li>
      </ul>
      New Facture <input type="text" ng-model="newFactureCode"><button ng-click="save()">Create</button>
      
      <ul>
        <li ng-repeat="client in clients">
          <a href="#/{{client._id}}">{{client.libelle}}</a>
          {{' : ' + client.chiffreAffaire}}
        </li>
      </ul>
      
    </script>

    <script type="text/ng-template" id="/todoDetails.html">
      <h1>{{ facture.name }}</h1>
      termine: <input type="checkbox" ng-model="facture.termine"><br>
      note: <textarea ng-model="facture.note"></textarea><br><br>

      <button ng-click="update()">Update</button>
      <button ng-click="remove()">Remove</button>
      <a href="/">Cancel</a>
    </script>


    <script>
      angular.module('app', ['ngRoute', 'ngResource'])

        //---------------
        // Services
        //---------------

        .factory('Clients', ['$resource', function($resource){
          return $resource('/clients/:id', null, {
            'update': { method:'PUT' }
          });
        }])
        
        .factory('ClientsFunctions', ['$resource', function($resource){
          return $resource('/clients/:function/:id');
        }])
        
        .factory('Factures', ['$resource', function($resource){
          return $resource('/factures/:id', null, {
            'update': { method:'PUT' }
          });
        }])

        //---------------
        // Controllers
        //---------------

        .controller('TodoController', 
         ['$scope', 'Clients', 'Factures', 'ClientsFunctions', 
         function ($scope, Clients, Factures, ClientsFunctions) {
          $scope.editing = [];
          $scope.factures = Factures.query();

          Clients.query().$promise.then(function (clients) {
            angular.forEach(clients, function (client) {
              var result = ClientsFunctions.get({ function: 'getChiffreAffaire', id: client.id }, function() {
                //alert(JSON.stringify(result));
                client.chiffreAffaire = result.chiffreAffaire;
              });
            });
            $scope.clients = clients;
          });

          $scope.save = function(){
            if(!$scope.newFactureCode || $scope.newFactureCode.length < 1) return;
            
            var client = new Clients({ libelle: 'lib_' + $scope.newFactureCode, nomSociete: 'nomSociete' });
            client.$save(function () {
              alert(client);
              alert(client.libelle);
              alert(client.chiffreAffaire);
              $scope.clients.push(client);
              var facture = new Factures({ code: $scope.newFactureCode, clientId: client._id });
              facture.$save(function(){
                $scope.factures.push(facture);
                $scope.newFactureCode = ''; // clear textbox
              });
            });
          }

          $scope.update = function(index){
            var facture = $scope.factures[index];
            //facture.clientId = '581d3084730ace0d652cbf14';
            Factures.update({id: facture._id}, facture);
            $scope.editing[index] = false;
          }

          $scope.edit = function(index){
            $scope.editing[index] = angular.copy($scope.factures[index]);
          }

          $scope.cancel = function(index){
            $scope.factures[index] = angular.copy($scope.editing[index]);
            $scope.editing[index] = false;
          }

          $scope.remove = function(index){
            var facture = $scope.factures[index];
            Factures.remove({id: facture._id}, function(){
              $scope.factures.splice(index, 1);
            });
          }
        }])

        .controller('TodoDetailCtrl', ['$scope', '$routeParams', 'Todos', '$location', function ($scope, $routeParams, Todos, $location) {
          $scope.todo = Todos.get({id: $routeParams.id });

          $scope.remove = function(){
            Todos.remove({id: $scope.todo._id}, function(){
              $location.url('/');
            });
          }
        }])

        //---------------
        // Routes
        //---------------

        .config(['$routeProvider', function ($routeProvider) {
          $routeProvider
            .when('/', {
              templateUrl: '/todos.html',
              controller: 'TodoController'
            })

            .when('/:id', {
              templateUrl: '/todoDetails.html',
              controller: 'TodoDetailCtrl'
           });
        }]);
    </script>
  </body>
</html>
